.dd {
	display: inline-block;
}

.dd__button {
	cursor: pointer;
	padding: 5px 10px;
	color: white;
	transition: background .4s ease;
}

.dd__button:hover {
	background: #147fcb;
}

.dd_expanded .dd__button {
	color: #fff;
	background: #156ca9;
}

.dd__list {
	margin: 0;
	padding: 0;
	position: absolute;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
	list-style: none;
	display: none;
	background: white;
}

.dd_expanded .dd__list {
	display: block;
}

.dd__item {
	cursor: pointer;
	padding: 5px 20px;
	background: white;
	transition: background .4s ease;
}

.dd__item:hover {
	color: #fff;
	background: #147fcb;
}

.dd__item[disabled] {
	color: #ccc;
	cursor: default;
	background: none;
}

.dd__item_active {
	background: #179af8;
	color: white;
}
